/* General Settings */
body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Ephesis&display=swap');

h1, p, button{
    font-family: 'Bitter', serif;
}


/* Header Section */

.wrapper{
    padding: 20px;
    width: 100%;
    height: 200px;
    text-align: center;
}

.header h1 {
    padding: 20px;
    
}

.inputs input {
    margin: 5px;
    height: 30px;
    width: 200px;
    text-align: center;
}

.inputs button {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: pink;
    cursor: pointer;

}

.inputs button:hover {
    background-color: orangered;
    color: white;

}



/* Content Section */

.contentWrapper{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 900px;
    height: 100px;
    background-color: rgb(235, 215, 218);
    border: 1px solid rgb(232, 144, 158);
    border-radius: 5px;
    margin-top: 20px;
}

.box div {
    margin: auto;
}




.button {
    display: flex;
    justify-content: center;
    align-items: center;

}


.button button {
    margin: 8px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: cell;
}

.button button:hover {
    background-color: grey;
    color: black;
}
